<style>
    .width-99 {
        width: 99% !important;
    }

    #register-container {
        justify-content: center;
        align-items: center;
    }

    input,
    label {
        width: 20vw !important;
    }

    #form-container h2 {
        width: 100%;
    }

    #mm,
    #yy,
    #dd {
        width: 5vw;
    }

    #postal_code {
        width: 20vw;
    }

    #form-container {
        padding-right: 5rem;
        border-right: 5px solid #f8f9fa;
    }

    @media only screen and (max-width: 823px) and (max-height: 1024px) {
        * {
            padding: 0 !important;
        }

        #reg-container {
            padding: 1rem !important;
        }

        #login-header {
            align-items: flex-start;
            padding-left: 1rem !important;
        }

        #form-container {
            width: 100% !important;
            border: none;
            border-bottom: 1px solid #535353;
        }

        .form,
        label,
        .input-field {
            width: 100%;
        }

        .form {
            padding-bottom: 1rem !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
        }

        .form * {
            width: 100% !important;
        }

        .input-field,
        .button,
        select {
            padding: 5px !important;
        }

        .button {
            margin-bottom: 10px;
        }

        #haveAccountMsg {
            width: 100%;
            margin: 1rem 0;
        }

        footer {
            padding: 1rem !important;
        }
    }
</style>

<div class="container">
    <div id='login-header' class="container flex-dir-row">
        <div class="container" id='log-container'>
            <i class="fas fa-user-plus fa-2x"></i>
            <h3>Register to Nicander now</h3>
        </div>
    </div>
    <div id="register-container" class="container">
        <div class="container flex-dir-row">

            <div id="form-container" class="container">
                <div class="container" id='reg-container'>
                    <h2>Register for free!</h2>
                </div>
                <form action="/patient/register" method="post" class="form container" autocomplete="off">
                    <div class="container flex-dir-row">
                        <div class="container">
                            <label>First Name</label>
                            <input type="text" id="name" class='input-field' name="name"
                                value="<%= typeof name != 'undefined' ? name : '' %>">
                        </div>
                        <div class="container">
                            <label>Surname</label>
                            <input type="text" id="surname" class='input-field' name="surname"
                                value="<%= typeof surname != 'undefined' ? surname : '' %>">
                        </div>
                    </div>
                    <div class="container flex-dir-row width-99">
                        <div class="container width-99">
                            <label class="width-99">Email</label>
                            <input type="email" id="email" class='input-field width-99' name='email'
                                value="<%= typeof email != 'undefined' ? email : '' %>">
                        </div>
                    </div>
                    <div class="container flex-dir-row">
                        <div class="container">
                            <label>Password</label>
                            <input type="password" id="password" name='password' class='input-field'
                                value="<%= typeof password != 'undefined' ? password : '' %>">
                        </div>
                        <div class="container">
                            <label>Confirm Password</label>
                            <input type="password" id="c_password" name="c_password" class='input-field'
                                value="<%= typeof c_password != 'undefined' ? c_password : '' %>">
                        </div>
                    </div>
                    <div class="container flex-dir-row width-99">
                        <div class="container width-99">
                            <label class="width-99">Gender</label>
                            <select name="gender" id="gender" class="width-99">
                                <option value>Select your gender</option>
                                <option value='male'>Male</option>
                                <option value='female'>Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="container flex-dir-row">
                        <div class="container flex-dir-row">
                            <div class="container">
                                <label class="width-99">Date of birth</label>
                                <div class="container flex-dir-row">
                                    <select name="dd" id="dd"></select>
                                    <select name="mm" id="mm"></select>
                                    <select name="yy" id="yy"></select>
                                </div>
                                </select>
                            </div>
                            <div class="container">
                                <label>Postal code</label>
                                <input type="text" id="post_code" name="post_code" class='input-field'
                                    value="<%= typeof post_code != 'undefined' ? post_code : '' %>">
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Register" class="button">
                    <div class="message-log">
                        <%= error %>
                    </div>
                </form>
            </div>
            <div class="container">
                <h2>I am already a member</h2>
                <p id='haveAccountMsg' class="container flex-dir-row">Do you want to login? <a href="/patient/login"
                        id="loginLink">LOGIN HERE!</a></p>
            </div>
        </div>
    </div>
</div>
<script>
    document.title = 'Patient Sign Up'

    //Prevent form from resubmitting when page refreshes
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }

    // Check for blank fields
    const name = document.getElementById('name');
    const surname = document.getElementById('surname');
    const email = document.getElementById('email');
    const password = document.getElementById('password');
    const c_password = document.getElementById('c_password');
    const gender = document.getElementById('gender');
    const month = document.getElementById('mm');
    const day = document.getElementById('dd');
    const year = document.getElementById('yy');
    const postCode = document.getElementById('post_code');
    const message = document.querySelector('.message-log')

    document.querySelector('form').addEventListener('submit', (e) => {

        if (name.value === '' || surname.value === '' || gender.value === '' || email.value === '' || postCode.value === '' || year.value === '' || day.value === '' || month.value === '' || password.value === '' || c_password.value === '') {
            if (name.value === '') {
                styleBorder(name, 'red')
            }
            else {
                styleBorder(name, 'rgb(226, 226, 226)')
            }
            if (surname.value === '') {
                styleBorder(surname, 'red')
            }
            else {
                styleBorder(surname, 'rgb(226, 226, 226)')
            }
            if (email.value === '') {
                styleBorder(email, 'red')
            }
            else {
                styleBorder(email, 'rgb(226, 226, 226)')
            }
            if (gender.value === '') {
                styleBorder(gender, 'red')
            }
            else {
                styleBorder(gender, 'rgb(226, 226, 226)')
            }
            if (month.value === '') {
                styleBorder(month, 'red')
            }
            else {
                styleBorder(month, 'rgb(226, 226, 226)')
            }
            if (day.value === '') {
                styleBorder(day, 'red')
            }
            else {
                styleBorder(day, 'rgb(226, 226, 226)')
            }
            if (year.value === '') {
                styleBorder(year, 'red')
            }
            else {
                styleBorder(year, 'rgb(226, 226, 226)')
            }
            if (password.value === '') {
                styleBorder(password, 'red')
            }
            else {
                styleBorder(password, 'rgb(226, 226, 226)')
            }
            if (c_password.value === '') {
                styleBorder(c_password, 'red')
            }
            else {
                styleBorder(c_password, 'rgb(226, 226, 226)')
            }
            if (postCode.value === '') {
                styleBorder(postCode, 'red')
            }
            else {
                styleBorder(postCode, 'rgb(226, 226, 226)')
            }
            message.style.display = 'block';
            message.innerText = 'Please fill all fields correctly!'
            e.preventDefault()
        }
        else if (password.value !== c_password.value) {
            styleBorder(password, 'red')
            styleBorder(c_password, 'red')
            message.style.display = 'block';
            message.innerText = 'Password and password confirmation do not match!'
            inputFieldsNormalColor()
            e.preventDefault()
        }
        else if (password.value.length < 5) {
            styleBorder(password, 'red')
            styleBorder(c_password, 'red')
            message.innerText = 'Password must be at least 5 characters'
            inputFieldsNormalColor()
            e.preventDefault()
        }
        else {
            name.value = capitalizeFirstLetter(name.value);
            surname.value = capitalizeFirstLetter(surname.value);
        }
    })

    function styleBorder(field, color) {
        field.style.border = `1px solid ${color}`
    }

    function inputFieldsNormalColor() {
        styleBorder(name, 'rgb(226, 226, 226)')
        styleBorder(surname, 'rgb(226, 226, 226)')
        styleBorder(email, 'rgb(226, 226, 226)')
        styleBorder(gender, 'rgb(226, 226, 226)')
        styleBorder(day, 'rgb(226, 226, 226)')
        styleBorder(month, 'rgb(226, 226, 226)')
        styleBorder(year, 'rgb(226, 226, 226)')
    }

    // SELECT: 31 days month options
    for (let i = 0; i <= 31; i++) {
        const option = document.createElement('option');
        if (i > 0) {
            option.value = i;
            option.innerText = i
        }
        else {
            option.innerText = 'dd';
            option.value = ''
        }
        day.appendChild(option);
    }

    // SELECT: 12 months options
    for (let i = 0; i <= 12; i++) {
        const option = document.createElement('option');
        if (i > 0) {
            option.value = i;
            option.innerText = i
        }
        else {
            option.innerText = 'mm';
            option.value = ''
        }
        month.appendChild(option);
    }

    var dt = new Date();
    let currentYear = dt.getFullYear();

    // SELECT: Years from this year minus 100 years, until 18 years before this year options
    for (let i = currentYear - 100; i <= currentYear; i++) {
        const option = document.createElement('option');
        if (i > currentYear - 100) {
            option.value = i;
            option.innerText = i
        }
        else {
            option.innerText = 'yy';
            option.value = ''
        }
        year.appendChild(option);
    }

    function capitalizeFirstLetter(string) {
        string = string.toLowerCase();
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

</script>